@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.arrow-after:after {
    content: ">";
    display: block;
}

.arrow-after:last-child:after {
    content: none;
}